$mobile-max-width: 768px;
$tablet-max-width: 1024px;

.AppContainer {
  width: $tablet-max-width;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $tablet-max-width) {
    width: $mobile-max-width;
  }
  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}
